.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.box {
  flex-basis: calc(100% / 4);
  height: calc(100% / 4);
  box-sizing: border-box;
  border: 1px solid black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
